
button{
    margin-top: 20px;
}

.tileset-container {
    position: relative;
  }
  
  .tileset-selection {
    position: absolute;
    outline: 3px solid #e91e63;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
  }

  canvas{
    background-size: 32px 32px;
    background-image:
    linear-gradient(to right, #d6d6d6 1px, transparent 1px),
    linear-gradient(to bottom, #d6d6d6, transparent 1px),
    linear-gradient(to left, #d6d6d6 0px, transparent 1px),
    linear-gradient(to top, #d6d6d6 -1px, transparent 2px)
  }

